.Header {
    color: black;
    margin: 10px;
}

.AboutUs {
    background-position: center;
    margin: 10px;
    
}

h1 {
    margin: 20px;
    text-align: center;
    color: black;
    font-size: 16px;
}

h2 {
    text-align: center;
    color: black;
    font-size: 25px;
}

h3 {
    text-align: center;
    color: black;
    font-size: 16px;
}

h4 {
    text-align: center;
    color: black;
    font-size: 16px;
}

.aboutusimg {
    float: left;
    margin: 40px;
    border-radius: 100%;
    box-shadow: 8px 8px 10px #aaa;
}

.abouthomebtn {
    text-decoration: none;
    width: 100px;
    background: #09C;
    color: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 4px;
    border-radius: 6px;
    border: 1p solid #999;
}

.article {
    text-decoration: none;
    text-align: center;
    background: #09C;
    color: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 4px;
    border-radius: 6px;
    border: 1p solid #999;
}