.SignupPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.header-footer {
    color: white;
}

input.form-control {
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid rgba(10, 180, 180, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
}

.form-horizontal {
    position: absolute;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 600px;
    height: 250px;
    text-align: center;
    color: white;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
}

input {
    width: 375px;
    display: block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.btn {
    width: 100px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #09C;
    color: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    height: 30px;
    border-radius: 15px;
    border: 1p solid #999;
}

.btn:hover {
    background: #fff;
    color: #09C;
}

textarea:focus, input:focus {
border: 1px solid #09C;
}