* {
    background-image: url(https://i.imgur.com/95jjBmg.gif);
    font-family: Comic Sans MS;
    background-size: cover;
    background-attachment: fixed;
}

html, body {
    display: flex;  
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);

.App-title {
    text-align: center;
    font-family: 'Advent Pro', sans-serif;
    font-size: 3em;
    margin: .2em .5em;
    color: white;
}

header {
    text-align: center;
    font-size: 40px;
}

.info {
    text-align: center;
    font-family: 'Advent Pro', sans-serif;
    font-size: 24px;
    margin: .2em .5em;
    color: white; 
}

.NavBar-link {
    text-decoration: none;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    margin: 10px;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.NavBar-about {
    text-decoration: none;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    margin: 10px;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}