header {
    color: white;
}

.homebtn {
    text-align: center;
}

.aboutus {
    text-align: center;
}

.puppyimg {
    display: inline-block;
    margin: 50px;
    height: 520px;
    width: 400px;
    margin-left: 155px;
}