header {
    color: white;
}

.homebtn {
    text-decoration: none;
    text-align: center;
    background: #09C;
    color: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 4px;
    border-radius: 20px;
    border: 1p solid #999;
    position: relative;
    left: 40%;
}

.aboutus {    
    text-decoration: none;
    text-align: center;
    background: #09C;
    color: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 4px;
    border-radius: 20px;
    border: 1p solid #999;   
    margin: 4px;
    position: relative;
    left: 45%;
}

.Name {
    text-decoration: none;
}

.puppyimg {
    text-align: center;
}

.showpuppy {
    border: 10px double white;
}